@use 'tokens' as *;

.icon {
  display: inline-block;
  color: currentColor;
}

.icon--sm {
  width: 1rem; // 16px
  height: 1rem;
}

.icon--md {
  width: 1.5rem; // 24px
  height: 1.5rem;
}

.icon--lg {
  width: 2rem; // 32px
  height: 2rem;
}
